// Default

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  transition: background-color 120ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

// App

.color-picker {
  position: fixed;
  left: 15px;
  right: 15px;
  bottom: 15px;
  margin: auto;
  padding: 20px;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  column-gap: 10px;
  background-color: rgba(black, .7);
  max-width: 600px;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 120ms;
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);

  &__item {
    $colors: (
      #3498db,
      #2ecc71,
      #f39c12,
      #e74c3c,
      #9b59b6
    );

    background-color: rgba(white, .1);
    border-radius: inherit;

    &::before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    @for $i from 1 through length($colors) {
      &:nth-child(#{$i}) {
        background-color: nth($colors, $i);
      }
    }

    &--active {
      box-shadow: 0 0 0 2px rgba(white, .9);
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
